/*
Style Inspiration--

Colors:
Primary link color: #425153
Background color: #dddddd
#83b5d7
#0080bb
Hover color? #1c4188

Fonts:
Lora (heading) + Raleway (body)
Merriweather + Raleway
Raleway + Roboto
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.5;
}

/* Headings CSS */

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-variant: small-caps;
  line-height: 1.5;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

/* Link CSS */

a {
  color: #425153;
}

a:visited {
  color: #1c4188;
}
/* a:hover comes after a:visited  */
a:hover, a:focus {
  text-decoration: none;
}

/* a:active comes after a:hover  */
a:active {
  color: #0080bb;
}

/* Button CSS */

button {
  border: none;
  font-family: inherit;
  background-color: #425153;
  color: #ddd;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #00476a;
  color: #83b5d7;
}

/* Page Header CSS */

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* Navigation CSS */

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* Profile CSS */

.profile {
  max-width: 700px;
  margin: 0 auto; /*Can only auto the horizontal property*/
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

/* Footer CSS */

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media__icon {
  border-radius: 50%;
}

/* Form CSS */

.standard-label__message {
  vertical-align: top;
}

/* Table CSS */

table {
  width: 100%;
}

/* Grid Fallback CSS */

.grid__item {
  display: inline-block;
  width: 33%;
}

/* Grid CSS */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: lightgray;
  padding: 10px;
  width: auto;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}
