/*
Style Inspiration--

Colors:
Primary link color: #425153
Background color: #dddddd
#83b5d7
#0080bb
Hover color? #1c4188

Fonts:
Lora (heading) + Raleway (body)
Merriweather + Raleway
Raleway + Roboto
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-size: 16px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.5;
}

/* Headings CSS */

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-variant: small-caps;
  line-height: 1.5;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

/* Page Header CSS */

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.page-header__logo {
  -o-object-fit: contain;
     object-fit: contain;
}

/* Navigation CSS */

.navigation-list {
  list-style-type: none;
  font: 20px 'Raleway', sans-serif;
}

.navigation-list li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 10px;
  position: relative;
}

.navigation-list a {
  z-index: 0;
  cursor: pointer;
  text-decoration: none;
  color: #0080bb;
}

ul.navigation-list a:before
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
        -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
            transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

ul.navigation-list a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid #fff;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
        -ms-transform: translateX(-50%) translateY(-50%) scale(0.8);
            transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

ul.navigation-list a:after
{
    border-width: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

ul.navigation-list a:hover:before
{
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
        -ms-transform: translateX(-50%) translateY(-50%) scale(1);
            transform: translateX(-50%) translateY(-50%) scale(1);
}

ul.navigation-list a:hover:after
{
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.3);
        -ms-transform: translateX(-50%) translateY(-50%) scale(1.3);
            transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* Link CSS */

a {
  color: undefined;
}

a:visited {
  color: undefined;
}
/* a:hover comes after a:visited  */
a:hover, a:focus {
  text-decoration: none;
}

/* a:active comes after a:hover  */
a:active {
  color: #0080bb;
}

/* Button CSS */

button {
  border: none;
  font-family: inherit;
  background-color: #425153;
  color: #ddd;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.button {
  border: none;
  font-family: inherit;
  background-color: #425153;
  color: #ddd;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

button:hover, button:focus, .button:hover, .button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: #00476a;
  color: #83b5d7;
}


/* Profile CSS */

.profile, .about {
  max-width: 700px;
  margin: 0 auto; /*Can only auto the horizontal property*/
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

/* Footer CSS */

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social-media__icon {
  width: 30px;
  height: 30px;
}

/* Form CSS */

.standard-label__message {
  vertical-align: top;
}

/* SVG Animation CSS */

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}
.sun  {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Grid Fallback CSS */

.grid__item {
  display: inline-block;
  width: 33%;
}

/* Grid CSS */

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: lightgray;
  padding: 10px;
  width: auto;
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

/* Responsive CSS - responsive classes should be at the end of the CSS file */

/* Width Range 0 - 500px */
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

/* Width Range 500 - 750px */
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

/* Width Range 0 - 750px - shared code */
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
