/*
Style Inspiration--

Colors:
Primary link color: #425153
Background color: #dddddd
#83b5d7
#0080bb
Hover color? #1c4188

Fonts:
Lora (heading) + Raleway (body)
Merriweather + Raleway
Raleway + Roboto
*/

:root {
  --offWhite: #ddd;
  --white: #fff;
  --secondary-bg-color: #425153;
  --secondary-link-color: #1c4188;
  --tertiary-link-color: #0080bb;
  --link-color: #006898;
  --primary-button-color: #00476a;
  --secondary-button-color: #83b5d7;
  --button-color: #425153;
  --grid-bg-color: lightgray;
  --border-color: rgba(0, 0, 0, 0.3);
  --sun-color: #edc655;
  --secondary-sun-color: #fcffad;
  --tertiary-sun-color: #f76414;
  --font-family-raleway: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--offWhite);
  font-size: 16px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.5;
}

/* Headings CSS */

h1 {
  font-family: var(--font-family-raleway);
  font-weight: 700;
  font-size: 30px;
  font-variant: small-caps;
  line-height: 1.5;
}

h2 {
  font-family: var(--font-family-raleway);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}

h3 {
  font-family: var(--font-family-raleway);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

/* Page Header CSS */

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header__logo {
  object-fit: contain;
  flex-grow: 0;
}

/* Link CSS */

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

/* a:hover comes after a:visited  */
a:hover,
a:focus {
  text-decoration: none;
}

/* a:active comes after a:hover  */
a:active {
  color: var(--link-color);
}

/* Navigation CSS */

.navigation-list {
  list-style-type: none;
  font: 20px var(--font-family-raleway);
}

.navigation-list li {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}

.navigation-list a {
  z-index: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--link-color);
}

ul.navigation-list a::before,
ul.navigation-list a::after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid var(--white);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

ul.navigation-list a::after {
  border-width: 2px;
  transition: all 0.4s;
}

ul.navigation-list a:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

ul.navigation-list a:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* Button CSS */

button,
.button {
  border: none;
  font-family: inherit;
  background-color: var(--button-color);
  color: var(--offWhite);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--border-color);
  transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--primary-button-color);
  color: var(--secondary-button-color);
}

/* Profile CSS */

.profile,
.about {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

/* Footer CSS */

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social-media__icon {
  width: 30px;
  height: 30px;
  margin: 10px;
}

/* SVG Animation CSS */

@keyframes color-change {
  0% {
    fill: var(--sun-color);
  }

  50% {
    fill: var(--secondary-sun-color);
  }

  100% {
    fill: var(--tertiary-sun-color);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Grid CSS */

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  -ms-grid-rows: 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid__item {
  display: inline-block;
  background-color: lightgray;
  padding: 10px;
  width: auto;
}

.grid__item a {
  color: #00618e;
}

.grid__item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid__item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid__item3 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid__item4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid__item5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid__item6 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

/* Responsive CSS - responsive classes should be at the end of the CSS file */

/* Width Range 0 - 500px */
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr;
  }

  .grid__item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid__item2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .grid__item3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .grid__item4 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }

  .grid__item5 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }

  .grid__item6 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
}

/* Width Range 500 - 750px */
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    -ms-grid-rows: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid__item1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid__item2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .grid__item3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .grid__item4 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .grid__item5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .grid__item6 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

/* Width Range 0 - 750px - shared code */
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
